{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>{{ user_schedule_list[0][3] }} {{ user_schedule_list[0][4] }}</h2>
            <hr>
            <form method="post">
                <input name="date" type="text" value="{{ user_schedule_list[0][5] }}">
                <input name="duration" type="text" value="{{ user_schedule_list[0][6] }}">
                <label for="action">Выберите действие</label>
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}