{% extends 'base.html' %}
{% block title %}{{ eq[0][1] }}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <form method="post">
                <input name="eq" type="text" value="{{ eq[0][1] }}">
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}