{% extends 'profile/profile_base.html' %}
{% block history %}
    <h2>История посещений</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Инициалы</th>
            <th>Дата посещения</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for item in attendance_list %}
        <tr>
            <th>{{ item[1] }} {{ item[2] }}</th>
            <th>{{ item[3] }}</th>
            <th>{{ item[4] }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}