{% extends 'profile/profile_base.html' %}
{% block history %}
    <h2>История замеров</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Инициалы</th>
            <th>Значение</th>
            <th>Параметр</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for item in measerement_list %}
        <tr>
            <th>{{ item[0] }} {{ item[1] }}</th>
            <th>{{ item[2] }}</th>
            <th>{{ item[3] }}</th>
            <th>{{ item[4].strftime('%Y-%m-%d') }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}