{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>{{ subs[0][1] }}</h2>
            <hr>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category =='error' %}
                        <div class="msg_spot_err">
                            <h6>{{ message }}</h6>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            <form method="post">
                <input name="subs" type="text" value="{{ subs[0][1] }}">
                <input type="number" step="0.1" name="price" value="{{ subs[0][2] }}">
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}