{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>{{ subs[0][1] }}</h2>
            <hr>
            <form method="post">
                <input name="subs" type="text" value="{{ subs[0][1] }}">
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}