{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <form method="post">
                <input name="subs_dur" type="text" value="{{ subs_dur[0][1] }}">
                <label for="action">Выберите действие</label>
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>

        </div>
    </div>
{% endblock %}