{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <form method="post">
                <label for="eq_id">Выберите оборудование</label>
                <select name="eq_id">
                    {% for item in eq_list %}
                        {% if item[0] == tr_sch_eq_list[0][3] %}
                            <option selected>{{ item[1] }}</option>
                        {% else %}
                            <option>{{ item[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="date">Укажите дату</label>
                <input name="date" type="date" value="{{ tr_sch_eq_list[0][1] }}">
                <label for="duration">Укажите длительность</label>
                <input name="duration" type="text" value="{{ tr_sch_eq_list[0][2] }}">
                <select name="action">
                    <option>Удалить</option>
                    <option>Изменить</option>
                </select>
                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
{% endblock %}