{% extends 'base.html' %}
{% block title %}Админ. Панель{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <a href="{{ url_for('admin.users') }}">Пользователи</a>
            <a href="{{ url_for('admin.user_progress') }}">Прогресс пользователей</a>
            <a href="{{ url_for('admin.user_subs_dur') }}">Покупки пользователей</a>
            <a href="{{ url_for('admin.user_tr_sch_att') }}">График тренировок пользователей</a>
            <a href="{{ url_for('admin.reviews') }}">Отзывы</a>
            <a href="{{ url_for('admin.user_schedule') }}">Расписание сотдруников</a>
            <a href="{{ url_for('admin.user_post') }}">Должности сотдруников</a>
        </div>
    </div>
{% endblock %}