{% extends 'base.html' %}
{% block title %}Админ. Панель{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="admin-link_wrapper">
                <a class="admin-link" href="{{ url_for('admin.users') }}">Пользователи</a>
                <a class="admin-link" href="{{ url_for('admin.user_progress') }}">Прогресс пользователей</a>
                <a class="admin-link" href="{{ url_for('admin.user_subscription_duration') }}">Покупки пользователей</a>
                <a class="admin-link" href="{{ url_for('admin.user_training_schedule_attendance') }}">График тренировок пользователей</a>
                <a class="admin-link" href="{{ url_for('admin.reviews') }}">Отзывы</a>
                <a class="admin-link" href="{{ url_for('admin.user_schedule') }}">Расписание сотдруников</a>
                <a class="admin-link" href="{{ url_for('admin.user_post') }}">Должности сотдруников</a>
            </div>
        </div>
    </div>
{% endblock %}