{% extends 'admin/admin_base.html' %}
{% block title %}Оборудование{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Оборудование</h2>
            <hr>
            {% if session['status'] in ['Тренер'] %}
                <a href="{{ url_for('crud.equipment_crud_add') }}">Добавить новую запись</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Оборудование</th>
                </tr>
                </thead>
                <tbody>
                {% for item in eq_list %}
                    <tr>
                        <th><a href="{{ url_for('crud.equipment_crud', eq_id=item[0]) }}">{{ item[0] }}</a></th>
                        <th>{{ item[1] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}