{% extends 'admin/admin_base.html' %}
{% block title %}Отзывы{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Отзывы</h2>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Инициалы</th>
                    <th>Отзыв</th>
                    <th>Дата написания</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <th>{{ review[0] }}</th>
                        <th>{{ review[1] }} {{ review[2] }}</th>
                        <th>{{ review[3]|truncate(70) }}</th>
                        <th>{{ review[4].strftime('%Y-%m-%d') }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}