{% extends 'admin/admin_base.html' %}
{% block title %}Длительность абонементов{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Длительность абонементов</h2>
            <hr>
            {% if session['status'] in ['Управляющий'] %}
                <a href="{{ url_for('crud.subs_dur_crud_add') }}">Добавить новую запись</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Длительность действия</th>
                </tr>
                </thead>
                <tbody>
                {% for item in subs_dur_list %}
                    <tr>
                        {% if session['status'] in ['Управляющий'] %}
                            <th><a href="{{ url_for('crud.subs_dur_crud', subs_dur_id=item[0]) }}">{{ item[0] }}</a>
                            </th>
                        {% else %}
                            <th>{{ item[0] }}</th>
                        {% endif %}
                        <th>{{ item[1] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}