{% extends 'admin/admin_base.html' %}
{% block title %}Абонементы{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Абонементы</h2>
            <hr>
            {% if session['status'] in ['Управляющий'] %}
                <a href="{{ url_for('crud.subs_crud_add') }}">Добавить новую запись</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Длительность действия</th>
                    <th>Цена за день</th>
                </tr>
                </thead>
                <tbody>
                {% for item in subs_list %}
                    <tr>
                        {% if session['status'] in ['Управляющий'] %}
                            <th><a href="{{ url_for('crud.subs_crud', subs_id=item[0]) }}">{{ item[0] }}</a></th>
                        {% else %}
                            <th>{{ item[0] }}</th>
                        {% endif %}
                        <th>{{ item[1] }}</th>
                        <th>{{ item[2] }} грн.</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}