{% extends 'admin/admin_base.html' %}
{% block title %}Пользователи{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Пользователи</h2>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Инициалы</th>
                    <th>Email</th>
                    <th>День рождения</th>
                    <th>День регистрации</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th><a href="{{ url_for('admin.user_crud', user_id=user[0]) }}">{{ user[0] }}</a></th>
                        <th>{{ user[1] }} {{ user[2] }}</th>
                        <th>{{ user[3] }}</th>
                        <th>{{ user[4] }}</th>
                        <th>{{ user[5] }}</th>
                        <th>{{ user[6] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="">Добавить новую запись</a>
        </div>
    </div>
{% endblock %}