{% extends 'admin/admin_base.html' %}
{% block title %}График тренировок пользователей{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>График тренировок пользователей</h2>
            <hr>
            {% if session['status'] in ['Тренер'] %}
                <a href="{{ url_for('crud.user_tr_sch_att_crud_add') }}">Добавить новую запись</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Инициалы</th>
                    <th>Время тренировки</th>
                    <th>Длительность</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for item in user_training_schedule_attendance %}
                    <tr>
                        {% if session['status'] in ['Тренер', 'Администратор'] %}
                            <th>
                                <a href="{{ url_for('crud.user_tr_sch_att_crud', user_tr_sch_att_id=item[0]) }}">{{ item[0] }}</a>
                            </th>
                        {% else %}
                            <th>{{ item[0] }}</th>
                        {% endif %}
                        <th>{{ item[1] }} {{ item[2] }}</th>
                        <th>{{ item[3] }}</th>
                        <th>{{ item[4] }}</th>
                        <th>{{ item[5] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}