{% extends 'admin/admin_base.html' %}
{% block title %}Прогресс пользователей{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Прогресс пользователей</h2>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Инициалы</th>
                    <th>Данные</th>
                </tr>
                </thead>
                <tbody>
                {% for item in user_progress %}
                    <tr>
                        {% if session['status'] in ['Тренер'] %}
                            <th><a href="{{ url_for('crud.user_progress_crud', user_id=item[0]) }}">{{ item[0] }}</a>
                            </th>
                        {% else %}
                            <th>{{ item[0] }}</th>
                        {% endif %}
                        <th>{{ item[1] }} {{ item[2] }}</th>
                        <th>{{ item[4] }} {{ item[3] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}