{% extends 'admin/admin_base.html' %}
{% block title %}Должности сотрудников{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            <h2>Должности сотрудников</h2>
            <hr>
            {% if session['status'] in ['Управляющий'] %}
                <a href="{{ url_for('crud.user_post_crud_add') }}">Добавить новую запись</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Инициалы</th>
                    <th>Дата трудоустройства</th>
                    <th>Зарплата</th>
                    <th>Должность</th>
                </tr>
                </thead>
                <tbody>
                {% for item in user_post %}
                    <tr>
                        {% if session['status'] in ['Управляющий'] %}
                            <th><a href="{{ url_for('crud.user_post_crud', user_post_id=item[0]) }}">{{ item[0] }}</a>
                            </th>
                        {% else %}
                            <th>{{ item[0] }}</th>
                        {% endif %}
                        <th>{{ item[1] }} {{ item[2] }}</th>
                        <th>{{ item[3].strftime('%Y-%m-%d') }}</th>
                        <th>{{ item[4] }} грн.</th>
                        <th>{{ item[5] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}