{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category =='error' %}
                        <div class="msg_spot_err">
                            <h6>{{ message }}</h6>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            <form method="post">
                <label for="user_id">Выберите пользователя</label>
                <select name="user_id">
                    {% for item in user_list %}
                        <option>{{ item[1] }} {{ item[2] }}</option>
                    {% endfor %}
                </select>

                <label for="status_id">Выберите должность</label>
                <select name="status_id">
                    {% for item in status_list %}
                        <option>{{ item[1] }}</option>
                    {% endfor %}
                </select>

                <label for="salary">Укажите зарплату</label>
                <input name="salary" type="number">

                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}