{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <div class="container">
        {{ user_list[0] }}<br>{{ status_list[0] }}
            <form method="post">
                <label for="user_id">Выберите пользователя</label>
                <select name="user_id">
                    {% for item in user_list %}
                        <option>{{ item[1] }} {{ item[2] }}</option>
                    {% endfor %}
                </select>

                <label for="status_id">Выберите должность</label>
                <select name="status_id">
                    {% for item in status_list %}
                        <option>{{ item[1] }}</option>
                    {% endfor %}
                </select>

                <label for="salary">Укажите зарплату</label>
                <input name="salary" type="number">

                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}