<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>О нас</title>
</head>

<body>
    <!-- HEADER BEGIN -->
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <a href="index.html" class="logo">F-CLUB</a>
                <!-- MENU BEGIN -->
                <ul class="menu">
                    <li class="menu_item">
                        <a href="reviews.html" class="menu_item-link">Отзывы</a>
                    </li>
                    <li class="menu_item">
                        <a href="about.html" class="menu_item-link">О Нас</a>
                    </li>
                    <li class="menu_item">
                        <a href="subscriptions.html" class="menu_item-link">Абонементы</a>
                    </li>
                </ul>
                <!-- MENU ENDS -->
                <div class="btn_wrapper">
                    <a href="login.html" class="btn">Войти</a>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER ENDS -->
    <div class="content">
        <section class="about">
            <div class="container">
                <h2>О нас</h2>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis dolorem magni delectus pariatur
                    est amet, repellat, reiciendis ea quibusdam at quasi cumque facilis ullam eligendi, expedita ex iste
                    sapiente rerum? Error amet blanditiis, temporibus totam dolores placeat soluta tenetur laborum magni
                    reprehenderit illo voluptatem. Quas numquam officiis voluptatum ex dicta eligendi sed molestiae
                    fugiat, provident at saepe vel accusamus vero blanditiis a tempore molestias perferendis. Quaerat
                    deleniti vero laudantium. Ut laboriosam illo facere nulla deserunt quae quas incidunt, magni
                    corporis obcaecati eveniet similique distinctio! Numquam eveniet ullam nemo delectus perspiciatis
                    eum a fuga ab voluptates! Corporis vel omnis dolor necessitatibus?</p>
                <hr>
                <h2>Наша команда</h2>
                <hr>
                <div class="about_inner">
                    <!-- EMPLOYEE BEGIN -->
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-1.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>Peter Parker</h2>
                            <h2>Fitness Coach</h2>
                        </div>
                    </div>
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-2.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>John Favro</h2>
                            <h2>Tennis Coach</h2>
                        </div>
                    </div>
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-3.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>Lisa Baker</h2>
                            <h2>Swimming Coach</h2>
                        </div>
                    </div>
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-4.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>Tom Hardy</h2>
                            <h2>Swimming Coach</h2>
                        </div>
                    </div>
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-6.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>Karen Gillan</h2>
                            <h2>Fitness Coach</h2>
                        </div>
                    </div>
                    <div class="employee_item">
                        <div>
                            <img src="images/about/about-coach-5.svg" alt="">
                        </div>
                        <hr>
                        <div>
                            <h2>Bob Doe</h2>
                            <h2>Tennis Coach</h2>
                        </div>
                    </div>
                    <!-- EMPLOYEE ENDS -->
                </div>
                <hr>
                <h2>Наши соц. сети</h2>
                <hr>
                <!-- SOCIAL BEGIN -->
                <div class="social_inner">
                    <div class="social_item">
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="images/about/social/facebook.svg" alt="">
                        </a>
                    </div>
                    <div class="social_item">
                        <a href="https://twitter.com" target="_blank">
                            <img src="images/about/social/twitter.svg" alt="">
                        </a>
                    </div>
                    <div class="social_item">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                            <img src="images/about/social/youtube.svg" alt="">
                        </a>
                    </div>
                </div>
                <!-- SOCIAL ENDS -->
            </div>
        </section>
    </div>
    <!-- FOOTER BEGIN -->
    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <h2 class="footer_title">© F-CLUB 2015. Все права защищены</h2>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS -->
</body>

</html>