{% extends 'base.html' %}
{% block title %}Кабинет{% endblock %}
{% block content %}
    <div class="content">
        <section class="cabinet">
            <div class="container">
                <div class="cabinet_inner">
                    <h2>Личный кабинет</h2>
                    <hr>
                    <!-- PERSONAL INFO BEGIN -->
                    <section class="personal_info">
                        <div class="info_img-wrapper">
                            <img src="{{ url_for('static', filename='images/user_icon.svg') }}" alt="">
                        </div>
                        <div class="info_content-wrapper">
                            <h2>{{ user[1] }} {{ user[2] }}</h2>
                            <hr>
                            <h3>
                                <span>Номер клубной карты:</span> {{ user[0] }}
                            </h3>
                            <h3>
                                <span>Дата рождения:</span> {{ user[4] }}
                            </h3>
                            <h3>
                                <span>Дата регистрации:</span> {{ user[5] }}
                            </h3>
                            <h3>
                                <span>Текущий рост:</span>
                            </h3>
                            <h3>
                                <span>Текущий вес:</span>
                            </h3>
                        </div>
                    </section>
                    <!-- PERSONAL INFO ENDS -->
                    <hr>
                    <h2>История</h2>
                    <hr>
                    <!-- HISTORY BEGIN -->
                    <section class="history">
                        <div class="history_sidebar">
                            <div class="sidebar_item">
                                <p><a href="">История покупок</a></p>
                            </div>
                            <div class="sidebar_item">
                                <p><a href="">История посещений</a></p>
                            </div>
                            <div class="sidebar_item">
                                <p><a href="">История замеров</a></p>
                            </div>
                        </div>
                        <div class="history_table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Цена</th>
                                        <th>Дата покупки</th>
                                        <th>Абонемент</th>
                                        <th>Срок действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>John</th>
                                        <th>Doe</th>
                                        <th>350,00 грн.</th>
                                        <th>01.08.2019</th>
                                        <th>Бассейн</th>
                                        <th>3 мес.</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <!-- HISTORY ENDS -->
                </div>
            </div>
        </section>
    </div>
{% endblock %}