{% extends 'base.html' %}
{% block title %}Абонементы{% endblock %}
{% block content %}
    <div class="content">
        <!-- SUBSCRIPTIONS BEGIN -->
        <section class="subscriptions">
            <div class="container">
                <div class="subscriptions_inner">
                    <div class="subscription_item">
                        <p class="subs_title">Фитнес-клуб</p>
                        <p class="subs_title">3 месяца</p>
                        <p class="subs_title">450 грн.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- SUBSCRIPTIONS ENDS -->
    </div>
{% endblock %}