<!-- HEADER BEGIN -->
<header class="header">
    <div class="container">
        <div class="header_inner">
            <a href="{{ url_for('main.home') }}" class="logo">FIT-CLUB</a>
            <!-- MENU BEGIN -->
            <ul class="menu">
                {% if session['status'] in ['Тренер', 'Администратор', 'Управляющий'] %}
                    <li class="menu_item">
                        <a href="{{ url_for('admin.home') }}" class="menu_item-link">Админ. Панель</a>
                    </li>
                {% endif %}
                <li class="menu_item">
                    <a href="{{ url_for('main.reviews') }}" class="menu_item-link">Отзывы</a>
                </li>
                <li class="menu_item">
                    <a href="{{ url_for('main.subscription') }}" class="menu_item-link">Приобрести абонемент</a>
                </li>
            </ul>
            <!-- MENU ENDS -->
            {% if session['logged_in'] %}
                <div class="btn_wrapper">
                    <a href="{{ url_for('profile.home') }}" class="btn">Кабинет</a>
                    <a href="{{ url_for('main.logout') }}" class="btn">Выход</a>
                </div>
            {% else %}
                <div class="btn_wrapper">
                    <a href="{{ url_for('main.login') }}" class="btn">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
<!-- HEADER ENDS -->